<div class="container">
    <nav>
            <div class="menu">
                <ul>
                    <li class="active"><a href="/"><i class="fa-solid fa-house-user"></i>Home</a></li>
                    <li><a href="/greeted" class="buton"><i></i>Greeted Names</a></li>
                    <li><a href="#"><i class="fa-solid fa-laptop-file"></i>Time</a>


                    </li>
                </ul>
            </div>
        </nav>

    <h1>Counter</h1>
   {{msg}}
</div>