<div class="container">
    <nav>
            <div class="menu">
                <ul>
                    <li class="active"><a href="/"><i class="fa-solid fa-house-user"></i>Home</a></li>
                    <li><a href="/greeted" class="buton"><i></i>Greeted Names</a></li>

                    </li>
                </ul>
            </div>
        </nav>

    <h4>Cllick on the name to check how many times the name has been greeted</h4>

    <table>
        {{#each names}}
        <tr>
            {{!-- <p>Click on the name</p> --}}
           <a href="/greetings/{{@key}}">{{@key}}</a><br><br>
        </tr>
        {{/each}}
    </table>

{{!-- <a class="btn" href="/greet">Greet times counter</a> --}}
</div>